.elevator__shaft {
    background-color: transparent;
    margin-left: 2px;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
    padding: 0 15px;
    width: 180px;
    height: 100vh;
}
.elevator {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    background-color: aqua;
}
.shafts {
    display: flex;
}

.elevator .elevator__info {
    font-size: 1.3rem;
}
.elevator .elevator__info img {
    width: 15px;
}
