* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block {
  display: flex;
}
.floors {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.floor {
  border-bottom: gray 1px solid;
  height: 20vh
}

.elevator__shaft {
  position: absolute;
  background-color: transparent;
  margin-left: 2px;
  border-left: #000000 3px solid;
  border-right: #000000 3px solid;
  padding: 0 15px;
  width: 180px;
  height: 100vh;
}

.elevator {
  display: flex;
  justify-content: center;
  border: black 1px solid;
  height: 20vh;
  background-color: aqua;
}
.elevator .elevator__info {
  font-size: 1.3rem;
}
.elevator .elevator__info img {
  width: 15px;
}

.position__5 {
  transform: translateY(0vh);
}
.position__4 {
  transform: translateY(20vh);
}
.position__3 {
  transform: translateY(40vh);
}
.position__2 {
  transform: translateY(60vh);
}
.position__1 {
  transform: translateY(80vh);
}