* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block {
  display: flex;
}
.floors {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.floor {
  border-bottom: gray 1px solid;
  height: 20vh
}

